/* Base */
html {
  position: fixed;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: 'helvetica-neue', sans-serif; 
  box-sizing: border-box;
  position: relative;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #666;
  padding: 48px;
}

a {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

/* Layout */
.l-grid {
  display: grid;
  grid-template-columns: minmax(200px, 20%) auto;
  grid-template-rows: 50% 50%;
  height: 100%;
  grid-template-areas: "a b""c b";
}

@media (max-width: 920px) {
  body {
    padding: 24px;
  }

  .l-grid {
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(0,100%) auto;
    grid-template-areas:"a""b""c";
  }
}

.l-grid-top {
  align-self: start;
  grid-area: a;
  padding-bottom:16px;
}

.l-grid-bottom {
  align-self: end;
  grid-area: c;
  padding-top:16px;
}

.l-grid-right {
  grid-area: b;
}

.l-grid-index-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /* grid-auto-rows: max(320px); */
  justify-items: center;
  grid-gap: 16px;

  overflow: auto;
  padding-right: 16px;
}

.l-grid-content-container {
  height: 100%;
}

.l-grid-index-item {
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  object-fit: contain;
  aspect-ratio: 4/3;
}

.l-grid-index-item:hover {
  opacity: 0.6;
  cursor: pointer;
}

.lazyload.fade-in,.lazyloading.fade-in {
    opacity: 0;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px)
}


.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}


.lazyloaded {
    transition: opacity 1s, filter 200ms, -webkit-filter 200ms;
}

.project-info div{
  padding-top: 6px;
}

.project-info--title{
  font-weight: bold;
  font-size: 1.6rem;
  margin: 1rem 0;
}

/* State  */
a.is-active {
  font-weight: bold;
  text-decoration: underline;
}

.project-gallery-image.is-active {
  display: block;
}

div.is-hidden,
img.is-hidden {
  display: none;
}

#project-gallery {
  position: relative;
}
.project-gallery-image-container {
  width: 100%;
  height: 100%;
}

.project-gallery-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.project-gallery-nav-wrapper {
  height: 100%;
  width: 100%;
  position:absolute;
  display: flex;
  justify-content: space-between;
}

.project-gallery-nav-left,
.project-gallery-nav-right {
  height: 100%;
  width: 33%;
  z-index: 1;
}

.project-gallery-nav-left {
  cursor: w-resize;
}

.project-gallery-nav-right {
  cursor: e-resize;
}

.container-active {
  pointer-events: none;
  font-weight: bold;
  text-decoration: underline;
  cursor: default;
}