@font-face {
    font-family: 'Gotham Narrow';
    src: url("/assets/fonts/gotham-narrow/Gotham Narrow Thin.otf") format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url("/assets/fonts/gotham-narrow/Gotham Narrow Light.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url("/assets/fonts/gotham-narrow/Gotham Narrow Book.otf") format("opentype");
    font-weight: bold;
}

html {
  position: fixed;
}

html,
body {
  font-family: 'Gotham Narrow';
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  box-sizing: border-box;
  position: relative;
  font-size: 1rem;
  color: #666;
  padding: 48px;
}

h1 {
  font-size: 1.6rem;
  margin: 0;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 0;
  line-height: 1.75rem;
  padding-top: 0.5rem
}

h3 {
  font-weight: bold;
  font-size: 1rem; 
}

a {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

a:hover {
  color: darkgreen;
}

/* Layout */
.l-grid-scroll-wrapper {
  height: 100%;
  overflow: auto;
}

.l-grid {
  display: flex;
  flex-direction: row;
  max-height:100%;
}

.l-grid-left {
  width: 216px;
  min-width:22%;
  padding-right:16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

.l-grid-right {
  flex-grow: 1;
}

.l-grid-content-container {
  height: 100%;
}

.l-grid-index-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  grid-gap: 16px;

  overflow: auto;
  padding-right: 16px;
}

.l-grid-index-item {
  align-self: center;
  justify-self: center;
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  aspect-ratio: 4/3;
}

@media (min-width: 920px) {
  .show-on-mobile {
    display: none !important;
  }
}

@media (max-width: 920px) {
  .hide-on-mobile {
    display: none !important;
  }

  body {
    padding: 24px;
  }

  .l-grid {
    flex-direction:column;
    height: 100%;
  }

  .l-grid-right {
    flex-shrink: 1;
    flex-grow: 0;
    order: 2;
    overflow: auto;
  }

  .l-grid-left {
    display: contents;
  }

  #project-gallery {
    display: flex;
    flex-direction: column;
  }

  .l-grid-top {
    padding-bottom: 16px;
    order: 1;
  }

  .l-grid-bottom {
    padding-top: 16px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    order: 3;
  }
}

.l-grid-index-item:hover {
  opacity: 0.6;
  cursor: pointer;
}

.lazyload.fade-in,.lazyloading.fade-in {
    opacity: 0;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px)
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.lazyloaded {
    transition: opacity 1s, filter 200ms, -webkit-filter 200ms;
}

.project-info div{
  padding-top: 6px;
}

#project-info--photo {
  padding: 16px 0;
}

/* State  */

.project-gallery-image.is-active {
  display: block;
}

div.is-hidden,
img.is-hidden {
  display: none !important;
}

#project-gallery {
  position: relative;
}
.project-gallery-image-container {
  width: 100%;
  height: 100%;
}

.project-gallery-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.project-gallery-nav-wrapper {
  height: 100%;
  width: 100%;
  position:absolute;
  display: flex;
  justify-content: space-between;
}

.project-gallery-nav-left,
.project-gallery-nav-right {
  height: 100%;
  width: 33%;
  z-index: 1;
}

.project-gallery-nav-left {
  cursor: w-resize;
}

.project-gallery-nav-right {
  cursor: e-resize;
}

.container-active {
  pointer-events: none;
  text-decoration: underline;
  cursor: default;
  font-weight: bold;
}

.l-grid-content-container {
  height: 100%;
}

/* Sidebar */

.sidebar-link {
  display: block;
  line-height: 1.675rem;
}

