.gallery-photo-container {
  width: 100%;
  height: 100%;
}

.gallery-photo {
  align-self: center;
  justify-self: center;
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: bottom;
}


.gallery-photo-caption {
  overflow-wrap: break-word;
}

.gallery--nav-left {
  cursor: url(../assets/img/chevron-left.svg), auto;
  color: gray;
}

.gallery--nav-right {
  cursor: url(../assets/img/chevron-right.svg), auto;
}