.gallery {
  display: grid;
  grid-auto-rows: 100%;
  position: relative;
}

.gallery-photo-container {
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  transition: opacity 1500ms, filter 1500ms, -webkit-filter 1500ms;
}

.gallery-photo-container.is-transitioning,
.gallery-photo-container.is-hidden {
  display: initial !important;
  opacity: 0;
}

.gallery-photo {
  height: 100%;
}

.gallery-photo-caption {
  overflow-wrap: break-word;
}

.gallery--nav-left {
  cursor: url(../assets/img/chevron-left.svg), auto;
  color: gray;
}

.gallery--nav-right {
  cursor: url(../assets/img/chevron-right.svg), auto;
}

.gallery-photo-link {
  cursor: pointer;
}