/* Project Page */

.project-index-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  grid-gap: 1rem;
  padding-right: 1rem;
}

#project-gallery {
  height: initial;
  overflow: initial;
  max-height: 100%;
}

.project-index-photo {
  align-self: center;
  justify-self: center;
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}

.project-info div{
  padding-top: 6px;
}

.project-info--title {
  padding-bottom: 0.5rem;
}

#project-gallery {
  position: relative;
}

.gallery-photo-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.container-active {
  pointer-events: none;
  text-decoration: underline;
  cursor: default;
  font-weight: bold;
}

@media (hover:hover) {
  .project-index-photo:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}