/* Sidebar  */
.sidebar {
  line-height: 1.675;
  height: 37px;
}

.sidebar-header {
  position:relative;
 cursor: pointer;
}

.sidebar-header:hover {
  color: darkgreen;
}

.sidebar-subheader {
  padding-top: 0.5rem;
}

.sidebar-item {
  display: block;
}

.sidebar-icon-container {
  display: none;
  position:absolute;
  right: 0;
  top: 0.25rem;
  width: 1.5rem;
}

.sidebar-header:not(.open) .sidebar-icon-container .sidebar-icon-closed,
.sidebar-header.open .sidebar-icon-container .sidebar-icon-open {
  display: none;
}


@media (max-width: 768px) and (min-height: 415px) {
  .sidebar {
    overflow: hidden;
  }

  .sidebar-dropdown {
    padding-bottom: 1rem;
    border-bottom: black solid 1px;
  }

  .sidebar-icon-container {
    display: inline-block;
  }
}