/* Sidebar  */
.sidebar {
  line-height: 1.675;
}

.sidebar-header {
  position:relative;
  pointer-events: none;
}

.sidebar-subheader {
  padding-top: 0.5rem;
}
.sidebar-item {
  display: block;
}

.sidebar-icon-container {
  display: none;
  position:absolute;
  right: 0;
  top: 0.25rem;
  width: 1.5rem;
}

@media (max-width: 768px) {
  .sidebar {
    height: 37px;
    overflow: hidden;
  }

  .sidebar-header {
    pointer-events: auto;
    cursor: pointer;
  }

  .sidebar-header:hover {
    color: darkgreen;
  }

  .sidebar-dropdown {
    padding-bottom: 1rem;
    border-bottom: black solid 1px;
  }

  .sidebar-header:not(.open) .sidebar-icon-container .sidebar-icon-closed {
    display: none;
  }

  .sidebar-header.open .sidebar-icon-container .sidebar-icon-open {
    display: none;
  }
  .sidebar-icon-container {
    display: inline-block;
  }
}