<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <title>{{ renderData.title or title or metadata.title }}</title> #}
    {# <meta name="Description" content="{{ renderData.description or description or metadata.description }}"> #}
    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <div class="{% if templateClass %} {{ templateClass }} {% endif %} container l-grid">
      <div class="l-grid-left">
      {% block sidebarContent %}{%endblock%}
      </div>
      
      <div class="l-grid-right">
      {% block main %}{%endblock%}
      </div>
    </div>

    <script src="{{ "/assets/lazysizes.min.js" | url }}"></script>
  </body>
</html>
