<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set baseCss %}
      {% include "styles/base.css" %}
      {% include "styles/sidebar.css" %}
      {% if css %} {{css | safe}}{% endif %}
    {% endset %}
    <style>
      {{ baseCss | cssmin | safe }}
    </style>
    <link rel="preload" href="/assets/fonts/gotham-narrow/Gotham Narrow Thin.otf" as="font" type="font/otf" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/gotham-narrow/Gotham Narrow Light.otf" as="font" type="font/otf" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/gotham-narrow/Gotham Narrow Book.otf" as="font" type="font/otf" crossorigin="anonymous">
  </head>
  <body>
    <div class="{% if templateClass %} {{ templateClass }} {% endif %} grid-container">
      <div class="grid-top-left">
        {% block gridTopLeft %}
        {# Show sidebar by default #}
        <div class="sidebar">
          <div class="sidebar-header">
          <h1>{{metadata.title}}</h1>
            <div class="sidebar-icon-container">
              <div class="sidebar-icon sidebar-icon-open">{% heroicon_outline "menu" %}</div>
              <div class="sidebar-icon sidebar-icon-close">{% heroicon_outline "x" %}</div>
            </div>

          </div>
          <div class="sidebar-dropdown">
            {%- for item in metadata.sidebar -%}
              {%if item.header %}<h2 class="sidebar-subheader">{{item.header}}</h2>{% endif %}
              {%if item._type == "project" or item._type == "page" %}
                <a class="sidebar-item" href="/{{item.slug}}">{{item.title}}</a>
              {% endif %}
            {%- endfor -%}
          </div>
        </div>
        {%endblock%}
      </div>

      <div class="grid-middle">
        <div class="grid-middle-left">
          {% block gridMiddleLeft %}{%endblock%}

          <div class="grid-middle-left-spacer"></div>
        </div>

        <div class="grid-middle-right">
          {% block gridMiddleRight %}{%endblock%}

          <div class="grid-middle-right-spacer"></div>
        </div>
      </div>

      <div class="grid-bottom-left">
          {% block gridBottomLeft %}{%endblock%}
      </div>
    </div>

    {% block js %}{%endblock%}
    <script>{% include "js/accordion.js" %}</script>
  </body>
</html>
