{% extends "layouts/base.njk" %}

{% set css %}
  {% include "styles/home.css" %}
{%endset%}

{%block gridTopLeft %}
<div class="sidebar">
  <h1 class="sidebar-header">{{metadata.title}}</h1>
    {%- for item in metadata.sidebar -%}
      {%if item.header %}<h2 class="sidebar-subheader">{{item.header}}</h2>{% endif %}
      {%if item._type== "project" %}
        <a class="sidebar-item" href="/projects/{{item.slug}}">{{item.title}}</a>
      {% endif %}
    {%- endfor -%}
</div>
  {%endblock%}

{% block gridMiddleRight %}
  <div class="home-timeline grid-right-content">
    {%- for project in metadata.timeline -%}
      <div class="home-timeline-project">
        <div class="home-timeline-project-gallery">
          {%- for photo in project.gallery  -%}
            <div class="home-timeline-project-tile is-hidden">
              <img class="lazyload home-timeline-project-photo" src="{% imageUrlFor photo, 100 %}" data-src="{% imageUrlFor photo, 1600 %}" data-gallery-index={{loop.index0}} alt="{{photo.alt}}" onclick="onIndexClick({{loop.index0}})"/>
            </div>
          {%- endfor -%}
        </div>
        <div class="home-timeline-project-title">{{ project.title}}</div>
      </div>
    {%- endfor -%}
</div>
{%endblock%}

{% block js %}
  <script src="{{ "/assets/lazysizes.min.js" | url }}"></script>
  <script>{% include "js/home.js" %}</script>
{% endblock %}