{% extends "layouts/base.njk" %}

{% set css %}
  {% include "styles/project.css" %}
  {% include "styles/gallery.css" %}
{%endset%}

{% block gridTopLeft %}
  <a href=  "/" style="font-weight: bold;"> < Home</a>
{%endblock%}

{% block gridMiddleLeft %}
  <div id="project-gallery-captions" class="grid-left-content is-hidden">
  {%- for photo in project.gallery -%}
    <div class="gallery-photo-caption-container is-hidden" data-gallery-index="{{loop.index0}}">
      <h3 class="gallery-photo-title">{{photo.title}}</h3>
      <div class="gallery-photo-caption hide-on-mobile">{{photo.caption}}</div>
    </div>
  {%- endfor -%}
  </div>
{%endblock%}

{% block gridMiddleRight %}
  <div id="project-index" class="project-index-container grid-right-content">
    {%- for photo in project.gallery -%}
    <img class="lazyload fade-in project-index-photo" src="{% imageUrlFor photo, 100 %}" data-src="{% imageUrlFor photo, 1600 %}" data-gallery-index={{loop.index0}} alt="{{photo.alt}}" onclick="onIndexClick({{loop.index0}})"/>
    {%- endfor -%}
  </div>

  <div id="project-gallery" class="gallery-photos grid-right-content is-hidden">
    {%- for photo in project.gallery -%}
      <div class="gallery-photo-container is-hidden" data-photo-key="{{photo._key}}" data-gallery-index={{loop.index0}}>
        <img class="lazyload gallery-photo" src="{% imageUrlFor photo, 100 %}" data-src="{% imageUrlFor photo, 1600 %}" alt={{photo.alt}}/>
      </div>
    {%- endfor -%}
  </div>

  <div id="project-statement" class="grid-right-content is-hidden">
    <div class="grid-right-text-container">
      <div class="grid-right-text-content">
        <div class="grid-right-text-spacer"></div>
        <div class="grid-right-text">
          {{ project.statement | markdownify | safe }}
        </div>
      </div>
    </div>
  </div>
{%endblock%}

{% block gridBottomLeft %}
  <h1 class="project-info--title">{{project.title}}</h1>

  <div class="project-info--links">
    <a class="project-info--link" onclick="showContainer('project-gallery')" data-container="project-gallery">Gallery</a> / 
    <a class="project-info--link container-active" onclick="showContainer('project-index')" data-container="project-index">Index</a> /
    <a class="project-info--link" onclick="showContainer('project-statement')" data-container="project-statement">Statement</a>
  </div>
{%endblock%}

{% block js %}
  <script src="{{ "/assets/lazysizes.min.js" | url }}"></script>
  <script>
    {% include "js/gallery.js" %}
    {% include "js/project.js" %}
  </script>
{% endblock %}