{% extends "layouts/base.njk" %}

{% block sidebarTop %}
  <a style="font-weight: bold;" href="onBack()"> < Back</a>
{%endblock%}

{% block sidebarBottom %}
  <h1 class="project-info--title">{{project.title}}</h1>
  <div class="project-info--links">
    <a class="project-info--link" onclick="showContainer('project-gallery')" data-container="project-gallery">Gallery</a> / 
    <a class="project-info--link container-active" onclick="showContainer('project-index')" data-container="project-index">Index</a> /
    <a class="project-info--link" onclick="showContainer('project-statement')" data-container="project-statement">Statement</a>
  </div>
{%endblock%}

{% block main %}

this will be the content!

{%endblock%}
