{% extends "layouts/base.njk" %}

{% set css %}
  {% include "styles/sitePage.css" %}
{%endset%}

{% block gridMiddleRight %}
  <div class="grid-right-content">
    <div class="grid-right-text-content">
    {{ sitePage.contents | markdownify | safe }}
    </div>
  </div>
{%endblock%}

{% block js %}
  <script src="{{ "/assets/lazysizes.min.js" | url }}"></script>
{% endblock %}