---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<h1>Lucas Foglia</h1>

{% include "sidebar.njk" %}

{# <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}
